[2014-11-21 00:47] giacomobartoli opened #1 "Objective-c porting"
Hi!
These alerts are really interesting.
But my question is: how could I use them in Obj-C language on xCode 6?
Is there any kind of previous version written in objective-c?

[2014-11-23 21:47] #1 closed, assigned to nobody

[2014-12-11 20:24] stakes opened #2 "Passing in a font name that isn't installed crashes"
To replicate:

[code]

This'll crash the app :facepunch:

[2014-12-12 08:02] #2 closed, assigned to nobody

[2015-03-04 10:33] rjjohnpatrickcruz opened #4 "additional button"
can I do having 3 buttons in the alertview ?

thanks.. your work is great !

[2015-03-04 10:33] rjjohnpatrickcruz commented on #4
just want to know .. thanks again ..

[2015-03-08 22:14] stakes commented on #4
@rjjohnpatrickcruz perhaps someday, but 3 buttons is not supported now. I would totally accept a PR adding that behavior, of course ;)

[2015-03-08 22:14] #4 closed

[2015-04-13 06:31] gunhansancar opened #7 "Context Text Height"
Hello,

It calculates wrong size for the following text as alert message text:
"Please setup your Twitter account."

However, it calculates correct size for the following:
"Please setup your Facebook account."

I think textString.boundingRectWithSize calculates wrongly.
I also created another label on the fly and assigned the text it to it to automatically calculate new size by using
lbl.sizeThatF

[2015-04-15 07:04] stakes commented on #7
Thanks for the note, I'll look into this next week!

[2015-04-19 22:01] b992 opened #8 "Swift 1.2"
Please update the code to be compatible with Swift 1.2!

Thank you! :)

[2015-05-01 19:55] blakeperdue commented on #8
Yep, the example project on swift 1.2 on xcode 6.3.1 gives 4 errors and won't build.

[2015-05-01 21:22] stakes commented on #8
Thanks for the heads-up!

[2015-05-12 15:41] youclavier commented on #8
Hi I really like the UIAlertView you design, could you please fix the 4 bugs in Swift 1.2? Thank you so much~~~

[2015-05-12 19:52] QUB3X commented on #8
I just commented  <pre>//    required override init() {
//        super.init()
//    }</pre>

and at Line 387 removed the `?`.
It seems working (I mean, at least it compiles!)

[2015-05-12 23:12] ajcampbell opened #10 "Multiple actions."
.

[2015-05-13 07:53] youclavier commented on #8
@QUB3X  yes if you delete it. It can compiles, but it seems that the alertview dialog will be cover by the current viewcontroller's view instead of display at the front.

[2015-05-13 22:23] stakes commented on #8
This PR should solve it and is merged into master:

https://github.com/stakes/JSSAlertView/pull/9

[2015-05-13 22:23] #8 closed

[2015-05-15 17:33] #10 closed

[2015-06-16 09:18] htarwara6245 opened #12 "Dismiss an alert after 5 sec"
If i dont want to add default ok button or any other button and i want to dismiss an alert after 5 sec,is there any way how to do that?

[2015-06-16 17:49] stakes commented on #12
OK, pull the latest version with this commit https://github.com/stakes/JSSAlertView/commit/377eb2f9dfa36e2d10bbca4902191b0300d146ed

And use NSTimer to close the alert, something like this:

[code]

[2015-06-16 17:49] #12 closed

[2015-06-22 19:59] v1n2e7t opened #13 "addCancelAction - Still calls action"
var alertview = JSSAlertView().show(self, title: "title", buttonText: "Yes", cancelButtonText: "No")
        alertview.addAction(self.calltimeboosts)
        alertview.addCancelAction(self.uploadImgs)

Here is a simple alert view with a cancel button. When i click the action button it also calls the cancel button. at least in my opinion, it should be two separated actions. not linked.
Can we make

[2015-06-22 22:31] sman591 commented on #13
Oh wow, you're right. That's my fault. Will submit PR shortly

[2015-06-22 22:43] stakes commented on #13
It's actually my fault for succumbing to self-imposed pressure and not testing things before merging. :disappointed: Thanks @sman591 and @v1n2e7t

[2015-06-23 02:31] #13 closed

[2015-07-03 11:11] tonezone6 opened #15 "nav controller"
Hello.
About using it with navigation controller, it seems that is ignoring nav bar & status bar in this case.

[2015-07-03 14:26] sman591 commented on #15
Might be related to #5 - is it that the nav & status bar don't get covered by the darkened background?

[2015-07-03 17:20] tonezone6 commented on #15
exactly.

[2015-07-09 11:52] nafetswirth opened #16 "Strong reference cycle"
Hey,
I was experiencing an issue where the alertview wouldn't be deallocated properly when deallocationg the rootview without dismissng the alert. I think the reason is the strong reference to the rootviewcontroller.
I'm just asking if the strong reference is intended to prevent premature deallocation, before issuing a pull request.

Thanks.

[2015-07-09 18:25] stakes commented on #16
Nonono all good - please send a PR and I'll merge it in! THANKS :+1:

[2015-07-09 18:29] stakes commented on #15
Finally merged that PR @sman591 you are the man :100: :tada:

[2015-07-09 18:29] #15 closed

[2015-07-09 20:47] #16 closed

[2015-07-22 12:30] hatemalimam opened #18 "Destroying Navigation Controller"
The AlertView is somehow breaking the Navigation sequence, here's a simple case:

NavigationController > ViewController > UITableViewController > Click Cell > Show JSSAlertView > Close JSSAlertView > Hit Back > nothing is done, navigation breaks.

Any idea why this is happening ?

[2015-07-23 11:02] ArjunSa786 commented on #18
i am also having same problem,

[2015-07-31 20:40] stakes commented on #18
Does this PR solve it? https://github.com/stakes/JSSAlertView/pull/19

[2015-08-20 18:55] LeonardBonfils opened #20 "Does not run in Xcode 7"
Hey, nice library.
I'm getting 9 build errors on Xcode 7 (some of them are fixed automatically by Xcode, others are not):

Attached are pictures of the errors I am getting. As a beginner iOS developer, I can only fix so many errors :S
![screen shot 2015-08-20 at 2 53 19 pm](https://cloud.githubusercontent.com/assets/6782987/9392545/744cee54-474b-11e5-9ecb-e26204c8bb28.png)
![screen shot 2015-08-20

[2015-08-27 04:39] AdamHWeiss2017 commented on #20
Beginner iOS dev here too....but the fix is easy

Edit > Convert > To Latest Swift Syntax

Explanation of fixes:
1. All of the "Missing..." errors -- caused by missing "amount" parameter name in front of second parameter (your last picture is caused by a weird bug in Xcode where it inserts the correct parameter name in the wrong position)
2. "Cannot invoke..." error -- caused because the call for

[2015-09-03 16:27] swangy commented on #20
for the boundingRectWithSize error in Xcode 7, beta version 7A192o i couldnt get it to downcast at that line so i had to downcast at the declaration of textAttr, line 189:

let textAttr = [NSFontAttributeName:textView.font as! AnyObject]

[2015-09-11 13:33] alexliubj commented on #20
Try my pull request to resolve this issue : https://github.com/stakes/JSSAlertView/pull/21

[2015-09-15 06:02] perwyl opened #22 "AlertView is scrollable"
I displayed the alert view above a tableview, as tableview is scrollable, i can scroll `JSSAlertView` to reveal the tableview cells. Would like to freeze the `root view controller`.

I'm using Xcode 6.4, swift 1.2 and IOS8.

[2015-10-19 16:04] luciano-work opened #23 "Navigation View"
If you have a "show" Segue navigation and add this Code:

@IBAction func kitchenSinkAlertViewButtonPress() {
        var customIcon = UIImage(named: "lightbulb")
        var alertview = JSSAlertView().show(self, title: "Kitchen sink", text: "Here's a modal alert with descriptive text, an icon, custom fonts and a custom color", buttonText: "Sweet", color: UIColorFromHex(0xE0107A, alpha: 1), iconIma

[2015-10-21 12:57] luciano-work commented on #23
my solution for this problem is:
self.rootViewController = viewController.navigationController

:smile: :smile:

[2015-11-20 12:57] jkritikos commented on #22
Having the same issue with a tableview - I tried using the tableview's navigation controller as the target view for the alert and that fixed it BUT, it messed up with the navigation stack.

[2015-12-03 13:32] Maverick25 commented on #23
@luciano-work Such a simple solution!! Thank you :)

[2015-12-03 15:56] luciano-work commented on #23
@Maverick25 :smile:

[2015-12-23 21:55] polis80cy opened #25 "closeView when tapping JSSAlertView"
Hi, nice control!

Is there any way to hide the alert view when tapping on it or anywhere else besides the button? I don't want a cancel button but need to replicate such cancel functionality by tapping anywhere else.

[2016-01-25 21:32] syky27 commented on #22
see #26

[2016-01-31 13:38] mikemane opened #27 "ModalViewController Issue"
Hello,
When i present the alert view in a modal view controller that was presented from another view controller.
Nothing happens when i dismiss said view controller.
The alert pops up from the parent view controller.

[2016-02-02 10:07] web-melt commented on #27
check if #26 fixes you issue, should if I read the code correctly.

@stakes  any chance #26 gets merged?

[2016-02-04 07:01] #22 closed

[2016-02-04 07:05] perwyl commented on #22
Another way i found out to add it as a subview to keyWindow without disable scrolling.

[code]

[2016-02-05 21:30] lenopix opened #28 "Update to swift 2.0 syntax?"
When I dragged in the swift file, there seemed to be many errors relating to swift 1.0 - swift 2.0 conversion.

[2016-02-17 15:06] #28 closed

[2016-02-20 15:32] jellehendriks007 opened #29 "JSSAlertView only works on initial viewcontroller"
Dear all,

I'm trying to embed JSSAlertView in my APP. On my first page (the initial viewcontroller) this seems to be working very smoothly. However on all other pages I can't.

[code]

Would be great if you can provide some help. Thanks!

[2016-02-21 20:04] mikemane commented on #27
Thanks that solved my problem

[2016-02-29 16:56] mvoccola opened #30 "Improper Size / Position when presented from .FormSheet or Split Screen"
Alert view sizes itself incorrectly when being presented from a non-fullscreen ViewController. The AlertView appears to inherit the size of the entire screen rather than the frame of the application or the bounds of a modally presented FormSheet view controller, from which the alert is presented.

The same behavior is present when using Split-Screen on iPad.

![simulator screen shot feb 29 2016 12

[2016-03-05 03:34] mvoccola commented on #30
in `JSSAlertView.swift`, in the `viewDidLayoutSubviews()` method, change the `size` value from `UIScreen.mainScreen().bounds.size` to `UIApplication.sharedApplication().windows[0].bounds`

[2016-03-05 03:40] mvoccola commented on #30
in JSSAlertView.swift, in the viewDidLayoutSubviews() method, change the size value from `UIScreen.mainScreen().bounds.size` to:

[code]

[2016-03-20 13:31] SwithFr commented on #27
I have the same issue, so it's seem not fixed.

[2016-03-22 00:06] #27 closed

[2016-03-31 11:13] #23 closed

[2016-03-31 11:31] syky27 commented on #20
Fixed by #26

[2016-03-31 11:31] #20 closed

[2016-03-31 11:40] syky27 commented on #25
Hi!

This is not supported (yet). I am labelling this as Feature Request and we will think about it.

Thanks for using JSSAlertView.

[2016-03-31 11:44] syky27 commented on #18
Tested, and it seems it is working.

[2016-03-31 11:44] #18 closed

[2016-03-31 11:57] syky27 commented on #7
Hi!

As it is for now, if you add long text for `title` it gets trimmed to certain length and it gets displayed correctly. However when you enter long string for `text` JSSAlertView becomes unusable and you cannot close it. See the picture.

![Long text bug](https://cloud.githubusercontent.com/assets/2771802/14174961/5075fce8-f748-11e5-8467-7165e89eed0e.png)

I'll try to fix this.

Stay tuned to J

[2016-03-31 12:01] syky27 commented on #29
Hi!

Can you provide more code please?
What are you trying to do? Are you trying to fire up JSSAlertView from different ViewController than it is own in?

Thanks

[2016-03-31 12:35] syky27 commented on #30
Thanks for reporting.

However I am unable to locate code you are referring to.

Thanks.

[2016-03-31 13:03] syky27 opened #33 "Create organisation for this repo & create pod"
Hi @stakes

I would like to create organisation for this repo, it will make my work way easier, and I would also like to have organisation when creating pod.

When we figure out the correct name (don't) really care about it tho.

It is possible to transfer repo including forks stars watching to organisation according to github docs.

What do you think about it?

Thanks
Syky.

[2016-03-31 19:08] mvoccola commented on #30
That line is located in JSSAlertView.swift under `viewDidLayoutSubviews()`

[2016-03-31 22:10] syky27 commented on #30
The current problem is that JSSAlertView gets rendered under the `.FormSheet`

[2016-04-01 14:43] mvoccola commented on #30
There is a similar problem present when presenting the alert in split-screen mode on iPad as well. That behavior is resolved by modifying the line of code I mentioned earlier in the comments.

[2016-04-01 15:46] syky27 commented on #30
I am sorry but I don't quite get you.

Right now how it works is that JSSAlertView gets always placed right into middle of the screen.
The height and width gets calculated from this function

[code]

The height gets placed into:

[code]

And those values are used this way:

[code]

When running this code JSSAlertView, gets correctly placed into middle of screen, but it is hidden behind the view th

[2016-04-01 16:12] syky27 commented on #30
For now, I was finally able to completely reproduce your, issue when changing this

[code]

to this

[code]

[2016-04-01 16:55] mvoccola commented on #30
To temporarily relieve some of the misunderstanding, `topViewController` in my example is a `UIApplication` extension I implemented in the project and is defined below:

[code]

Looks to accomplish the same thing as your last comment.

To be clear, it seems that the issue with presenting the alert on iPad when in split-screen (multi-tasking) mode is that the size of the alert is calculated from th

[2016-04-01 16:57] syky27 commented on #30
Yeah I know that the size is calculated badly, I have already find a solution to this issue, I am implementing as we speak.

[2016-04-01 17:22] syky27 commented on #33
And now when solving issue #30 I would love to create new repo for my test project where I debug the issue and do not want to create under my Github acc nor in my own Gitlab. :)

[2016-04-01 17:37] #30 closed

[2016-04-01 17:38] syky27 commented on #30
@mvoccola Thank you for reporting this issue and stay tuned to JSSAlertView

[2016-04-01 18:16] syky27 commented on #25
Hi!

I have implemented what you requested. You can use it with following:

[code]

When `noButtons: true` there will be no button even if you set texts for them.

Stay tuned to JSSAlertView

[2016-04-01 18:16] #25 closed

[2016-04-04 02:31] stakes commented on #33
Here you go my man: https://github.com/openstakes/JSSAlertView

And thank you for getting involved and taking over managing this repo!

If you want to change the name of our "organization", just let me know. This one just kinda seemed like the easiest, but I'm in no way attached ;)

[2016-04-04 02:31] #33 closed

[2016-04-04 15:23] syky27 opened #35 "Unable to setup Travis"
Can you do that?

Or give me access?

Thanks

![screenshot 2016-04-04 17 22 59](https://cloud.githubusercontent.com/assets/2771802/14252994/10492db2-fa8a-11e5-9aa5-114ce45119e9.png)

[2016-04-04 15:31] syky27 commented on #29
Let me know what is this all about tho.

[2016-04-04 15:31] #29 closed

[2016-04-06 00:07] syky27 opened #36 "Missing icon in examples"

[2016-04-06 12:05] SimonTheEngineer opened #37 "Invalid use of '()' to call a value of non-function type 'module<JSSAlertView>'"
Hi, I've installed the framework via Cocoapods but I'm receiving the above error message for the following code:

    override func viewDidLoad() {
        super.viewDidLoad()

        JSSAlertView().show(
            self, // the parent view controller of the alert
            title: "I'm an alert" // the alert's title
        )
    }

I have imported the framework as well in that ViewController

[2016-04-06 12:06] syky27 commented on #37
I will have a look at it right away

[2016-04-06 12:11] syky27 commented on #37
The error you are getting actually means like if show func would not be public tho.
But it is.
Can you run `pod update JSSAlertView` and show me the output?

[2016-04-06 12:16] SimonTheEngineer commented on #37
Sure:

    Updating local specs repositories

    CocoaPods 1.0.0.beta.6 is available.
    To update use: `gem install cocoapods --pre`
    [!] This is a test version we'd love you to try.

    For more information see http://blog.cocoapods.org
    and the CHANGELOG for this version http://git.io/BaH8pQ.

    Analyzing dependencies
    Downloading dependencies
    Using JSSAlertView (1.0)
    Gene

[2016-04-06 12:18] syky27 commented on #37
WOW!

you should have get this

[code]

The newest version of the pod is 1.0.1, I am wondering if the change of the version system messed things up I will fire up a new version 1.1.1 and let you know it will be couple seconds. Than I am gonna need you to run that update command one more time.

[2016-04-06 12:19] SimonTheEngineer commented on #37
Ok great

[2016-04-06 12:22] syky27 commented on #37
Can you please run it again and let me know how the output looked like?

[2016-04-06 12:26] SimonTheEngineer commented on #37
Exactly the same output

    Using JSSAlertView (1.0)

[2016-04-06 12:28] syky27 commented on #37
How does your Podfile look like?

[2016-04-06 12:30] SimonTheEngineer commented on #37
I was using

    platform :ios, '8.0'
    use_frameworks!

    target 'GCBeaconTest' do

      pod 'JSSAlertView'

    end

But I just tried using

      pod 'JSSAlertView', '~> 1.1'

and got this output

    Updating local specs repositories

    CocoaPods 1.0.0.beta.6 is available.
    To update use: `gem install cocoapods --pre`
    [!] This is a test version we'd love you to try.

    For more

[2016-04-06 12:33] syky27 commented on #37
hah, I know.... hmmmm is it possible for you to change
This `platform :ios, '8.0'` to this: `platform :ios, '8.3'` or do you really need to support `8.0`?

[2016-04-06 12:34] SimonTheEngineer commented on #37
I can change it if it's required, let me try that

[2016-04-06 12:36] SimonTheEngineer commented on #37
Yeah that works now.

Any reason why it requires 8.3 though? I thought it would work for iOS 7+

[2016-04-06 12:42] syky27 commented on #37
Well, The `8.3` was stupid I changed back to `8.0` I actually have no idea where this mistake origins from.

So you can set your Podfile back to `8.0`.

About the iOS 7 Swift currently does not support compiling Frameworks for iOS 7.

So you can use JSSAlertView but you need to add it manually to project.

[2016-04-06 12:43] SimonTheEngineer commented on #37
Ah ok, that's great, thanks for your help. Didn't expect a response so fast :+1:

[2016-04-06 12:43] #37 closed

[2016-04-06 13:38] syky27 commented on #37
Thank you for using JSSAlertView.

[2016-04-21 04:54] stakes commented on #35
@syky27 I just got to this, thanks! It's enabled and ready to go.

I can't figure out how the hell to add an admin to Travis CI or I would just add you.

Anyway, thanks again for all your help!

[2016-04-21 04:54] #35 closed

[2016-04-22 12:42] syky27 commented on #36
Fixed by 63fb553

[2016-04-22 12:42] #36 closed

[2016-04-26 00:11] sinanku opened #38 "Set custom position"
Would be nice to enable setting a custom position for JSSAlertView (e.g. a value that either adds or subtracts from height position), reason being when a keyboard is visible on the screen it does not appear centered (even though it is absolute positioned in the center).  Thanks for the awesome work!

[2016-04-26 07:29] syky27 commented on #38
Hi, I will have look at this during weekend, and I will probably implement it...

[2016-04-26 12:13] sinanulkuatam commented on #38
Awesome, thank you!

[2016-04-26 18:14] ndbroadbent opened #39 "Very difficult to customize"
Hello,

I just wanted to mention my experience with trying to use this library. It's actually been very painful since I've wanted to customize just about everything, and the only way to do that is to fork it, make everything public, and add a bunch of new variables. I also used `NSParagraphStyles` on all the labels and buttons, because I need to be able to use a custom font, font size, kerning, an

[2016-04-26 18:25] syky27 commented on #39
Hi I have thought about the same actually, I just haven't got the time to do that yet, your help would be awesome.

So I do think that there is about a million of better solution how to approach scalability of JSSAlertView, and as it is right now it is very painful to customise.

What I had in mind, it to have multiple classes which can be used to inherit your own and simply replace them for maxim

[2016-04-28 17:57] syky27 commented on #39
@ndbroadbent So what do you think?

[2016-04-30 19:52] gearoidoceallaigh opened #40 "Tab Buttons still tappable when alert is shown"
I use tab bar controller in my application and when the alert is displayed these remain tappable. Would it be possible to make the alert cover the entire screen?

Great library btw!

[2016-04-30 20:47] syky27 commented on #40
Well this is not actually hadeled very well right now, I can create workaround for this usecase in couple of days.... I plan on rewriting most of it in close future tho...

[2016-05-06 13:17] giuseppe19 opened #41 "How to make alert disappear automatically?"
I'm trying to use your amazing library and make alert disappear automatically, but without success yet :/
Would it be possible?

Again, amazing job my friend!

[2016-05-06 13:19] syky27 commented on #41
Hi,
   there is not internal API for it. I can add it if you like.

[2016-05-06 13:25] giuseppe19 commented on #41
It would be awesome, if I don't ask too much...

[2016-05-06 13:46] syky27 commented on #41
Hey buddy, it's done. Go ahead and run.

`pod update`

There is a new option for show, success, danger, warning, info `delay`.  Example:

[code]

[2016-05-06 13:46] #41 closed

[2016-05-06 14:08] giuseppe19 commented on #41
Great! Thank you my friend!
Greetings, Giuseppe

[2016-05-19 17:34] macecchi commented on #40
Any updates about this?

[2016-05-23 00:01] syky27 commented on #40
Hi, just informing you that I have not forgotten about this, I plan on fixing this with some kind of hotfix, later this week...

Thanks.

[2016-05-23 14:36] macecchi commented on #40
@syky27 I've modified JSSAlertView to be presented as a view controller, which I think is the correct approach. I can send a PR if you're interested :)

[2016-05-23 18:23] syky27 commented on #40
Go for it I'll check it out!

[2016-05-30 14:22] #40 closed

[2016-05-31 10:44] syky27 commented on #40
@gearoidoceallaigh please update to 1.1.5 version

Thanks goes to @macecchi for #42

[2016-06-14 07:08] tiferrei opened #43 "Swift 3"
With the new Swift 3 this framework has about 70 errors. I have analysed it and they are mostly just syntax changes, I would be happy to update it and then do a pull request, however, there is use of `CGRectMake` which is no longer available in Swift.

[2016-06-14 11:18] MaeseppTarvo commented on #43
At first I had about 93 errors, I didn't do anything and now I have only 4 of them. Two "Missing argument label 'of:' in call" and one "Cannot convert value of type '[String : UIFont?]' to expected argument type '[String : AnyObject]?'" Tried to fix those and got some weird error says that {bracked needed after if condition even if it is there.

[2016-06-14 11:31] tiferrei commented on #43
Probably yo selected JSSAlertView's framework when converting to swift3, it did what he could, but not everything, also because swift 3 removes `CGRectMake`, but (at least if you're using CocoaPods or Carthage) because if you need to install it again it will still be in swift 2.

[2016-06-14 11:58] syky27 commented on #43
Hi, guys, thank you for your effort. I will have look at it on weekend.

There are several things that needs to be rewritten I might swipe those with swift3 conversion.

[2016-06-14 14:38] tiferrei commented on #43
Alright @syky27, when you start can you please go slowly add the changes to a separate branch called `swift3` or something like that? It would be quite handy to be able to take a look at some of the changes. Thanks!

[2016-06-14 15:42] syky27 commented on #43
Sure.

[2016-06-17 11:12] RichardBoyder opened #44 "import JSSAlertView doesn't work?"
Awesome guys .... sorry i was having a issue but i just cleaned project and it went away. so its all good now.... love this

[2016-06-18 09:07] #44 closed

[2016-06-21 20:54] syky27 commented on #39
@ndbroadbent Any update on this?

[2016-06-21 20:55] syky27 opened #45 "Please rename organisation to JSSAlertView"
Will make more sense.

Thanks

[2016-06-24 06:09] huangboju opened #46 "i have a crash"
[code]

<img width="616" alt="2016-06-24 2 08 51" src="https://cloud.githubusercontent.com/assets/14818224/16329458/3f87b7ae-3a15-11e6-8023-8f43916578a2.png">

[2016-06-25 19:44] syky27 commented on #46
What Xcode and iOS SDK are you using? Thanks.

[2016-06-27 00:37] huangboju commented on #46
Xcode version is 7.3.1 and simulator is iPhone5，system version is 8.4

[2016-06-29 18:04] syky27 commented on #46
Can you repeat this? Or did that happened only once?

[2016-07-04 15:00] wesleymota opened #47 "Module file's minimum deployment target is iOS 9.3"
I can't run my app on iOS 8.0 version. Is appearing this error. I tried clean project and build again, but the same error is persisting.

[2016-07-04 15:09] wesleymota commented on #47
Solved! (Go into the Pods dependancies and change the deployment targets to 8.0 also.)

[2016-07-04 15:09] #47 closed

[2016-09-06 11:03] zcanter opened #48 "Programmatically Dismiss View"
Hello. Great job on this framework!

Is there a way to programmatically dismiss the JSAlertView? I am trying to have it dismiss from a shake gesture.

Thank you.

[2016-09-08 23:07] alissonbarauna opened #49 "Crash on iOS10 Xcode 8 - Swift 3"
Hey,

After update my Xcode, and using Swift 3, I'm having a crash on showing JSSAlrtView.
Can you please help me on that?
I really love your framework, and would be so sad stop using that due this issue :/
The problem seems to be related to the "text" parameter. The crash only happens when I add this parameter to the "show" method. All other parameters seems to be working fine.

Ps.: I tried to d

[2016-09-09 03:25] syky27 commented on #49
I will have a look at it

[2016-09-09 03:48] alissonbarauna commented on #49
Oh, I would be so grateful.
Thanks in advance Tomas.

If you need any information, please let me know.

[2016-09-09 22:53] zcanter commented on #48
Was able to solve this on my by adding this to the JSAlertView class:

// Check for shake gesture, vibrate, then remove alert view

override public func motionEnded(motion: UIEventSubtype, withEvent event: UIEvent?) {
        if(event!.subtype == UIEventSubtype.MotionShake) {
            closeView(true, source: .Close);
        }
    }

[2016-09-09 22:55] syky27 commented on #48
This is partial solution, because if I implement this it will be active always even for those who do not want to have this functionality in their app.

[2016-09-09 22:55] syky27 commented on #48
I will do it as soon as I will find a time for it.

[2016-09-14 01:11] alissonbarauna commented on #49
Hey Tomas!

Do you have any updates concerning this issue?

Thanks a lot in advance.

[2016-09-14 02:15] alissonbarauna commented on #49
Tomas, I think I figured out the problem.

I changed the textAttr variable to a "example" [NSFontAttributeName: UIFont(name:"Arial", size:14.0)!, NSForegroundColorAttributeName:UIColor.black] and it worked.
It seems Swift is not able to read font attributes from UITextView.

Using fixed attributes works fine.

![screenshot at sep 13 23-13-46](https://cloud.githubusercontent.com/assets/19950837/184

[2016-09-14 02:17] syky27 commented on #49
Hi

I will have a look at it right away.

[2016-09-14 08:05] syky27 commented on #49
Hi, I gave it good 3 hours did not get it working, I will continue tomorrow.

If you know how to convert the pod to working version with swift3 with backward compatibility feel free to contribute.

[2016-09-20 08:55] RichardBoyder commented on #49
anyone managed to fix this for swift 3?

[2016-09-20 09:20] syky27 commented on #49
not yet
--
Tomas Sykora

[2016-09-20 10:30] RichardBoyder commented on #49
cool. I wish i had enough knowledge to help but not yet. By the way, this is a awesome plugin. Love the popup. Many thanks for sharing with us all.

[2016-09-20 11:54] alissonbarauna commented on #49
I have fixed the crash on Swift 3, but I don't use Pods (and don't have knowledge on that).
If you guys want, I can send you the class I'm using to use the workaround.

Thanks.

[2016-09-20 11:59] tiferrei commented on #49
@alissonbarauna that would be awesome!! If you can please send it to me and I'll take care of pull requests and cocoa pods.

[2016-09-22 12:00] RichardBoyder commented on #49
any lucky updating pods to swift 3? @tiferrei

[2016-09-22 13:37] tiferrei commented on #49
Hello there @RichardBoyder, it seems to be a success! I am currently testing it with all the functions available, but for now everything seems to be working! You can take a look at how things are going in my [fork](https://github.com/tiferrei/JSSAlertView).

[2016-09-25 15:17] mat0pad commented on #49
@syky27 to correct the issue and to avoid using static fonts please make the following changes
`// position the title
        let titleString = titleLabel.text! as NSString
        let titleAttr = [NSFontAttributeName:titleLabel.font!] as [String: Any] // UPDATED
        let titleSize = CGSize(width: contentWidth, height: 90)
        let titleRect = titleString.boundingRect(with: titleSize, option

[2016-09-25 15:29] tiferrei commented on #49
Thanks @mat0pad, will update that on my code and submit a PR

[2016-09-27 20:29] syky27 opened #52 "Unable to lint new version of cocoapod"
[code]

[2016-09-27 20:29] syky27 commented on #49
Hi, for now you can copypaste code in branch swift3 until I resolve #52

[2016-09-27 20:30] #46 closed

[2016-09-27 20:30] syky27 commented on #43
Hi, for now you can copypaste code in branch swift3 until I resolve #52

[2016-10-11 12:10] HaciKale commented on #43
Hey Guys!
it's not really working with swift 3, am I getting the wrong code or something??

[2016-10-11 13:14] syky27 commented on #43
Use the code in swift branch and copy paste it to your project.

There is some problem with cocoapod

[2016-10-11 20:22] HaciKale commented on #43
perfect, thanks! now it works! It's really nice! just have to change the code a bit so I can add more than 1 button and it's good 👍

[2016-10-13 15:57] Xpressive opened #54 "Counting timer in alert"
How can i display a counting label in alert? Like in Tinder, for example, when you exceeded your likes/superlikes limit

[2016-10-14 18:34] syky27 commented on #54
JSSAlertView, doesn't support this functionality you would have to modify the code.

[2016-10-14 18:34] #54 closed

[2016-10-14 18:34] syky27 commented on #45
@stakes PING?

[2016-10-14 23:46] stakes commented on #45
DONE! Got it ;) thx for the ping!

[2016-10-14 23:46] #45 closed

[2016-10-14 23:46] syky27 commented on #45
I thank you.
--
Tomas Sykora

[2016-10-20 12:08] syky27 commented on #52
New version of cocoapods fixed this issue

[2016-10-20 12:08] #52 closed

[2016-10-20 12:09] syky27 commented on #49
👌New version of JSSAlertView 3.0.0 supporting swift 3 just got released yaaaayy... 🎉

[2016-10-20 12:09] #49 closed

[2016-10-20 12:09] syky27 commented on #43
New version of pod released 🎉 supporting swift 3

[2016-10-20 12:09] #43 closed

[2016-10-20 12:13] syky27 commented on #49
Sorry it took so much time, I was trying to do it using cocoapod prerelease version which supported this but, without any luck until now, when I read on Twitter that new stable version od cocoapods supporting this was released....

So Thank you for your patience....

[2016-10-31 14:51] hdinhof1 opened #55 "Example isn't working in Swift 3.0"
Demo app isn't compatible with the current Xcode 8.1 environment. Tried fixing the pod versions "pod 'Quick', '~> 0.8'"   to pod 'Quick'

Then did a pod update but its not working. Alas no quick fix here.

[2016-10-31 15:28] hdinhof1 opened #56 "Objective-C backwards compatibility"
Does this pod support ObjC backwards compatibility?

[2016-10-31 16:11] syky27 commented on #55
Hi, I just ran `pod try JSSAlertView` using `Xcode Version 8.1 (8B62)`

And it works like a charm.

[2016-10-31 16:28] syky27 commented on #56
No it does't I believe that `func show` has no visible `@interface`.

You are free to contribute tho...

[2016-11-02 13:26] #56 closed

[2016-11-02 13:26] #55 closed

[2016-11-02 14:37] hdinhof1 commented on #55
I am using Xcode Version 8.1.

The problem stems from the Quick framework. I'm getting compiler errors (on
closure method definitions).

On Mon, Oct 31, 2016 at 12:11 PM, Tomas Sykora, jr. <
notifications@github.com> wrote:

[2016-11-02 14:39] syky27 commented on #55
Well I am not...
It works just fine for me, you will have to be more specific.

On Wed, Nov 2, 2016 at 3:37 PM, Henry Dinhofer <notifications@github.com> wrote:
I am using Xcode Version 8.1.

The problem stems from the Quick framework. I'm getting compiler errors (on
closure method definitions).

On Mon, Oct 31, 2016 at 12:11 PM, Tomas Sykora, jr. <
notifications@github.com> wrote:

—
You are rece

[2016-11-05 21:13] syky27 opened #57 "Carthage Support"

[2016-11-05 22:18] syky27 opened #58 "Rewrite to Protocols"

[2016-11-11 14:21] spiking opened #59 "Swift 3 version"
Hi!

How do you update to the version compatible with Swift 3? With pod 'JSSAlertView' the 1.1.5 version is installed, which generates 74 issues. I tried updating and reinstalling the pods but it made no difference.

Is the updated version not in the master branch?

Thanks!

[2016-11-11 14:22] syky27 commented on #59
Did you try `pod update` ? What is output of that and how does your Podfile look like?

[2016-11-11 14:28] spiking commented on #59
Yes, I tried pod update. I am using Xcode 8.1, MacOS Sierra 10.12.1

Update all pods
Updating local specs repositories
Analyzing dependencies
Downloading dependencies
... (other pods)
**Using JSSAlertView (1.1.5)**
Generating Pods project
[1]    2173 abort      pod update

In the podfile I have

target 'AppName' Do
use_frameworks!
... (other pods)
pod 'JSSAlertView'
end

post_install do |installer

[2016-11-11 14:30] syky27 commented on #59
Ok, weird I just tried it with this result

[code]

So it works for me

[2016-11-11 14:32] syky27 commented on #59
What is your cocoapods version?

[2016-11-11 14:37] spiking commented on #59
That is weird indeed. I can try to update it, see if it solves the problem.

[2016-11-11 14:53] spiking commented on #59
Thanks! It seems like it resolved the issue by updating cocoapods!

[2016-11-11 14:53] syky27 commented on #59
Happy coding
--
Tomas Sykora

[2016-11-17 10:08] Xpressive commented on #54
I can make pr, if you want this functionality. It looks and works nice ;)

[2016-11-17 11:09] syky27 commented on #54
Sure, it would be awesome.

[2016-11-18 15:03] #59 closed

[2016-11-18 15:14] syky27 opened #64 "Configure Travis"

[2016-11-24 00:35] syky27 opened #65 "Document Code"

[2016-11-24 00:50] #65 closed

[2016-11-24 11:58] #64 closed

[2016-11-24 11:58] syky27 commented on #38
@sinanku Do you still need this?

[2016-11-24 12:01] syky27 commented on #48
You can always implement your solution inside the viewcontroller JSSAlertView is called from.

Keeping it like this.

[2016-11-24 12:01] #48 closed

[2016-11-24 12:01] syky27 commented on #58
wont do

[2016-11-24 12:01] #58 closed

[2016-11-24 13:53] sinanku commented on #38
@syky27 no longer necessary, thanks!

[2016-11-24 14:05] #38 closed

[2016-11-28 05:28] NikKovIos commented on #39
He's gone...

[2017-01-02 15:47] Luukje opened #66 "Suggestion for UITextField feature"
Hi,

At the moment I’m using your JSSAlertView framework in my app and it’s working perfectly fine. The only thing I’m missing is the possibility to place an UITextField in the alert to let the user place some text.

An example how I want to use it in my app for hour registration: The user wasn’t at work at a specific day and wants to give up a ‘other’ reason for his absence than one of the sugges

[2017-01-02 15:50] syky27 commented on #66
Hi, I am sorry I cannot get to this before March, but @Xpressive might be interesting in contributing even more that he previously did 😊.

Thanks

[2017-01-06 21:26] Uskinn opened #67 "errors"
Hi,
Just installed the pod 'JSSAlertView' for Swift 3, have 72 errors. Is any way to install it without any errors?
Thank you.

[2017-01-07 00:00] syky27 commented on #67
Can you show me what kind of errors, this doesn't happen to me.

Thanks

[2017-01-07 02:32] Uskinn commented on #67
syky27,

Thank you for the quick response.

I reinstalled the pod and cleaned the project about five times. Now everything works great!
It was something.

P.S.
Sorry that bothered you without real issue.

[2017-01-07 16:20] syky27 commented on #67
No Worries.

[2017-01-07 16:20] #67 closed

[2017-01-29 11:58] Xpressive commented on #66
@syky27 @Luukje Sry, missed notification about that feature. Challenge accepted!)

[2017-03-03 09:01] rikiriocma commented on #39
Hello everyone I'm Riccardo from Italy. I wish to contribute to this project. The only problem (or maybe the MAIN problem) is that I'm a little newbie on using this Github collaboration platform. I know how works versioning, branches and pull request but I absolutely don't want to mess up things here :). I wrote here since I read @ndbroadbent message and, as him, I also have some improvements and

[2017-03-03 12:16] syky27 commented on #39
Hi @rikiriocma, I would love to see what kind of improvements you got.

So go ahead, and fork this repo, create new brach, and submit a pull request :)

You wont mess things up, and if so we can always get it back into order.

Thanks

[2017-03-06 20:01] oleynikd commented on #48
Why `closeView` method isn't public?

[2017-03-06 20:03] syky27 commented on #48
Good question.

It was not intended to be used in the first iteration.

I actually do not see any reason why it should not be public now.

[2017-03-06 20:04] oleynikd commented on #48
Thanks, for fast response! That would be great!

[2017-05-10 14:24] Laynay opened #70 "Suggestion for buttonText"
Hi, i'm using you framework, i like it and i say thank you!

I have a suggestion for the upcoming updates:
-    I'd like to use a "JSSAlertView.addbuttonText" action for the buttonText
-    A more accessible way to edit the font's size for the text (for cancel, textButton and text maybe
     separated).

Thank you.

[2017-08-01 00:39] ThoseGuysInTown commented on #66
I would also like this feature. Any progress @Xpressive?

[2017-10-08 14:59] trein opened #71 "Support for Swift 4"
Swift compiler is flagging several issues in current v3.0.

[2017-11-13 03:15] arronhunt opened #73 "Make library work more like UIAlertView"
Making the library work more like the default UIAlertView would enable you to further customize the alert options, such as:

* Moving the options to the constructor `JSSAlertView(self, title: "I'm an alert").show()`
* Allow for multiple buttons to be added, via `let myButton = JSSAlertButton(title: 'Click me') { action in NSLog('Clicked a button')` and then adding them via `myJSSAlertView.addButto

[2018-01-03 03:15] MrShft opened #74 "Error on Xcode 9.2"
Hi there,

I installed this pod on a project in Xcode 9.2 and kept getting errors at the import line. It gave 2 different kinds of errors:

Some background details:
- The project was fresh, with some UI elements set up in Storyboard and no other code in ViewController.
- The 'Firebase/Core' pod was successfully installed right before it.

Is there an issue with JSSAlertView with Xcode 9.2/Swift 4?

[2018-01-03 03:40] MrShft commented on #74
Of course, I found the solution right after I made my post...

Here's what worked for anyone else who may experience my problem:

_1. I removed all pods (via CocoaPods) from my project, closed the Project and quit Xcode._
_2. Then, I opened the original xcodeproj file and ran the app, building it on to my test device successfully._
_3. Then, I quit Xcode._
_4. Through CocoaPods, I then installed t

[2018-01-03 03:41] #74 closed

[2018-01-03 14:40] syky27 commented on #74
Glad you got it working. 👍

[2018-01-03 14:41] syky27 commented on #73
Yeah, I was thinking about this for some time, unfortunately I do not currently have the time to do that...

[2018-01-03 14:41] syky27 commented on #71
Would you care to submit PR?

[2018-01-03 14:42] syky27 commented on #70
Will look into it.

[2018-01-03 15:06] trein commented on #71
This issue can be closed. The PR has been already merged. Thanks!

[2018-01-03 15:06] #71 closed

[2018-05-28 18:19] syky27 commented on #57
#76

[2018-06-18 11:44] VKGraphics opened #77 "Extra argument 'text' in call"
[code]

[2018-06-18 12:10] syky27 commented on #77
buttonText: no

Doesnt look right....

[2018-06-18 12:16] VKGraphics commented on #77
not working in my project

[2018-06-18 19:17] syky27 commented on #77
How does the error prompt look like?

[2018-06-19 03:53] VKGraphics commented on #77
![screen shot 2018-06-19 at 9 22 31 am](https://user-images.githubusercontent.com/24429336/41575935-58512b6c-73a2-11e8-8795-57d3551fe6b6.png)

[2018-06-19 03:53] VKGraphics commented on #77
I am Swift 2.0 To swift 4.0 Migrate

[2018-06-19 11:56] syky27 commented on #77
did you update the pod?

[2018-06-19 15:33] #77 closed

[2018-10-09 07:43] RichardBoyder opened #80 "removeFromParent"
I have updated to swift 4.2 and updated the pod file. however i am getting this error:
removeFromParent()' has been renamed to 'removeFromParentViewController()'

Has this been fixed for the latest swift?

[2018-10-09 09:31] RichardBoyder commented on #80
There are other issues as well. And i removed from pod file , and re added to make sure i have latest.

[2018-10-09 11:05] syky27 commented on #80
Hi @RichardBoyder

`removeFromParentViewController()` has been renamed to `removeFromParent()` in `swift4.2`
`removeFromParentViewController()` was obsoleted in Swift 4.2

I suspect that you are not building your project with swift4.2 and that is the reason why you are getting this error.

Could you make sure, that you are using swift 4.2 on you project?

[2018-10-09 11:06] syky27 commented on #80
As you can see, here was the same problem: https://github.com/zhangao0086/DKImagePickerController/issues/508

[2019-06-25 10:53] mohsinka commented on #66
Any update on this feature?

[2019-10-17 14:45] syky27 commented on #66
Take a look on the PR, if you want :)

It needs to get tidy, and released.

[2019-10-17 14:48] Xpressive commented on #66
@nitrey  Need 2-3 more years, work is still in progress!

[2019-12-02 01:01] #80 closed

[2019-12-02 01:02] #57 closed